{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}
{% include 'breadcrumb.html'%}
{% include 'messages.html' %}
{% include 'loadingScreen.html' %}
<div class="card">
  <div class="card-body">
    <form id="myForm" method="post" action="{% url formUrl %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary btn-block">Create</button>
    </form>
  </div>
</div>
<script>
  $(document).ready(function () {
    const loadingScreen = document.getElementById('loadingScreen');
    document.getElementById('myForm').addEventListener('submit', function() {
      loadingScreen.classList.toggle('hidden');
  });
  });
</script>
{% endblock %}
