{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <!-- ! Hide app brand if navbar-full -->
    <div class="app-brand demo">
        <a href="{% url 'home' %}" class="app-brand-link">
            <span class="app-brand-logo demo ml-2">
                <img
                src="{% static '/images/favicon.ico' %}"
                width="100%"
                height="30"
                class="d-inline-block align-top"
                alt=""
                />
            </span>
            <span class="app-brand-logo demo ml-5">
                <img
                src="{% static '/images/Genex-Logo.png' %}"
                width="100%"
                height="30"
                class="d-inline-block align-top"
                alt=""
                />
            </span>
            
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <li class="menu-item {% if request.path == '/' %}active{% endif %}">
            <a href="{% url 'home' %}" class="menu-link ">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div class="text-truncate"> Home</div>
            </a>
        </li>
        <li class="menu-item {{ settingsActive }}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cog"></i>
                <div class="text-truncate">Settings</div>
                {% comment %} <div class="badge bg-danger rounded-pill ms-auto">5</div> {% endcomment %}
            </a>
            <ul class="menu-sub">
                {% if user.is_WFM %}
                <li class="menu-item {{ groupActive }}">
                    <a href="{% url 'viewGroup' %}" class="menu-link ">
                        <div>Group</div>
                    </a>
                </li>
                {% endif %}
                
                <li class="menu-item {{ siteActive }}">
                    <a href="{% url 'viewSite' %}" class="menu-link">
                        <div>Site</div>
                    </a>
                </li>

                <li class="menu-item {{ processActive }}">
                    <a href="{% url 'viewProcess' %}" class="menu-link">
                        <div>Process</div>
                    </a>
                </li>

                <li class="menu-item {{ lobActive}}">
                    <a href="{% url 'viewLOB' %}" class="menu-link">
                        <div>LOB</div>
                    </a>
                </li>

                <li class="menu-item {{ workRoleActive }}">
                    <a href="{% url 'viewWorkRole' %}" class="menu-link">
                        <div>Work Role</div>
                    </a>
                </li>

                <li class="menu-item {{ workRuleActive }}">
                    <a href="{% url 'viewWorkRule' %}" class="menu-link">
                        <div>Work Rule</div>
                    </a>
                </li>
                <li class="menu-item {{ skillActive }}">
                    <a href="{% url 'viewSkill' %}" class="menu-link">
                        <div>Skill</div>
                    </a>
                </li>
                <li class="menu-item {{ shiftLegendActive }}">
                    <a href="{% url 'viewShiftLegend' %}" class="menu-link ">
                        <div> Shift Legend</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item {{ usersActive }}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div class="text-truncate">Users</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item {{ userActive }}">
                    <a href="{% url 'viewUser' %}" class="menu-link">
                        <div>Users</div>
                    </a>
                </li>
            </ul>
            <ul class="menu-sub">
                <li class="menu-item {{ employeeActive }}">
                    <a href="{% url 'viewEmployee' %}" class="menu-link">
                        <div>Agents</div>
                    </a>
                </li>
            </ul>
            {% comment %} <ul class="menu-sub">
                <li class="menu-item {{ supervisorActive }}">
                    <a href="{% url 'viewSupervisor' %}" class="menu-link">
                        <div>Supervisors</div>
                    </a>
                </li>
            </ul> {% endcomment %}
        </li>
        <li class="menu-item {{ rosterManagementActive }}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons fa-solid fa-clipboard-user"></i>
                <div class="text-truncate">Roster Management</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item {{ rosterActive }}">
                    <a href="{% url 'viewRoster' %}" class="menu-link ">
                        <div>Roster</div>
                    </a>
                </li>
                <li class="menu-item {{ rosterCountActive }}">
                    <a href="{% url 'viewRosterCount' %}" class="menu-link ">
                        <div>Roster Count</div>
                    </a>
                </li>
                <li class="menu-item {{ rosterSeatCountActive }}">
                    <a href="{% url 'viewRosterSeatCount' %}" class="menu-link ">
                        <div> Roster Seat Count</div>
                    </a>
                </li>
                
                
            </ul>
        </li>
        <li class="menu-item {{ tradingActive }}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons fa-solid fa-arrow-right-arrow-left"></i>
                <div class="text-truncate">Trading</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item {{ dayOffTradingActive }}">
                    <a href="{% url 'viewDayOffTradingRequests' %}" class="menu-link ">
                        <div>Day Off Trading</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item {{ forecastingActive }}">
            <a href="{% url 'viewForecasting' %}" class="menu-link ">
                <i class="menu-icon tf-icons fa-solid fa-chart-line"></i>
                <div class="text-truncate"> Forecasting</div>
            </a>
        </li>
        <li class="menu-item {{ reportingActive }}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons fa-solid fa-arrow-right-arrow-left"></i>
                <div class="text-truncate">Reporting</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item {{ avayaCDRActive }}">
                    <a href="{% url 'viewAvayaCDR' %}" class="menu-link ">
                        <div>Avaya CDR</div>
                    </a>
                </li>
            </ul>
            <ul class="menu-sub">
                <li class="menu-item {{ agentHourlyPerformanceActive }}">
                    <a href="{% url 'viewAgentHourlyPerformance' %}" class="menu-link ">
                        <div>Agent Hourly Performance</div>
                    </a>
                </li>
            </ul>
            {% comment %} <ul class="menu-sub">
                <li class="menu-item {{ loginLogoutTimeActive }}">
                    <a href="{% url 'viewLoginLogoutTime' %}" class="menu-link ">
                        <div>Login Logout Time</div>
                    </a>
                </li>
            </ul> {% endcomment %}
            <ul class="menu-sub">
                <li class="menu-item {{ reportingOneActive }}">
                    <a href="{% url 'viewReportingOne' %}" class="menu-link ">
                        <div>Forecast & Plan Vs Actual Report</div>
                    </a>
                </li>
            </ul>
            <ul class="menu-sub">
                <li class="menu-item {{ reportingTwoActive }}">
                    <a href="{% url 'viewReportingTwo' %}" class="menu-link ">
                        <div>Staffed Report</div>
                    </a>
                </li>
            </ul>
            <ul class="menu-sub">
                <li class="menu-item {{ reportingThreeActive }}">
                    <a href="{% url 'viewReportingThree' %}" class="menu-link ">
                        <div>Agent Staffed Report</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>