{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}
{% include 'breadcrumb.html' %}
{% include 'messages.html' %}
<div class="card">
  <div class="card-body">
    <form method="post" action="{% url formUrl %}">
      {% csrf_token %}
      <input
        type="hidden"
        name="redirect_url"
        value="{{ request.META.HTTP_REFERER }}"
      />
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary btn-block">Create</button>
    </form>
  </div>
</div>
{% endblock %}
